.underlay {
  position: fixed;
  inset: 0;
}

.popover {
  background: var(--page-background);
  border: 1px solid var(--spectrum-global-color-gray-400);
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
  border-radius: 6px;
}

.arrow {
  position: absolute;
  fill: var(--page-background);
  stroke: var(--spectrum-global-color-gray-400);
  stroke-width: 1px;
  width: 12px;
  height: 12px;
}

.arrow[data-placement="top"] {
  top: 100%;
  transform: translateX(-50%);
}

.arrow[data-placement="bottom"] {
  bottom: 100%;
  transform: translateX(-50%) rotate(180deg);
}

.arrow[data-placement="left"] {
  left: 100%;
  transform: translateY(-50%) rotate(-90deg);
}

.arrow[data-placement="right"] {
  right: 100%;
  transform: translateY(-50%) rotate(90deg);
}
